
.Tipocadastro {
    font-style: bold;
    font-size: 30px;
    margin-left: 20px;
    justify-content: center;
  }
  
 

  .fisjur-button {
    position: relative;
  width: 20px;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 30px; 
  line-height: 50px;
  font-size: 25px;
  color: rgb(0, 0, 0);
  background: #e4bcd0;
  border: 0;
  border-radius: 0;
  
  
  }
  
  .containertipo {
    border: solid 5px #e2a9c6;
    border-radius: 10px;
    margin: 5px;
    margin-top: 10px;
    background-color: #e2a9c6;
  }
  
  .fisjur {
    display: inline-block;
    position: relative;
    width: 200px;
    margin-left: 15px;
    align-items: center;
    text-align: center;
  }
  
  .fisjur-button {
    display: inline-block;
    align-items: center;
    text-align: center;
  }
  
 