* {
  margin: 0;
  padding: 0;
}

/* Cabeçalho */

.containerpg {
  border: solid 5px #F7D6E7;
  border-radius: 10px;
  margin: 5px;
  margin-top: 10px;
  justify-content: center;
  overflow: auto;
  align-items: center;
  flex-direction: column;
  background-color: #F7D6E7;
}

.titulo {
  font-size: 50px;
  justify-content: center;
  text-align: center;
  
  
}

.infotitulo {
  justify-content: center;
  text-align: center;
}

/* Tipo de Cadastro e endereço */

.tipodecadastro {
  font-style: bold;
  font-size: 30px;
  margin-left: 20px;
}

.fisjur {
  display: inline-block;
  position: relative;
  justify-content: left;
  text-align: left;
  width: max-content;
  margin-left: 25px;
  align-items: center;
  text-align: center;
}

.fisjur-button {
  display: inline-block;
  justify-content: left;
  text-align: left;
  align-items: center;
  margin: 2px;
  text-align: center;
}

.containertipo {
  border: solid 5px #e2a9c6;
  border-radius: 10px;
  margin: 5px;
  margin-top: 10px;
  justify-content: center;
  overflow: auto;
  align-items: center;
  flex-direction: column;
  background-color: #e2a9c6;
}

/* Dados pessoais */

.titulodp, .tituloend {
  display: flex;
  font-size: 30px;
  justify-content: left;
  text-align: left;
}

.containerdp, .containerend  {
  border: solid 5px #F7D6E7;
  border-radius: 10px;
  margin: 5px;
  margin-top: 10px;
  background-color: #F7D6E7;
  width: ;
  justify-content: space-around;
  display: flex;
  height: 60%;
  margin-left: ;
  
  
}


.dadosdp, .dadosend {
margin: 20px;
display: flexbox;
text-align: left;
font-size: 20px;
width: -60%;
}

.botaocancel{
color: white;
background-color: red;
border: none;
font-size: 15px;
border-radius: 2px;
width: 70px;
right: 50px;
margin: 2px;


}

.botaoenviar{
  color: white;
  background-color: green;
  border: none;
  font-size: 20px;
  border-radius: 2px;
  width: 80px;
  right: 50px;
  
  
}

.containerbotoes {
text-align: right;
margin: 2px;
flex: content;

}