* {
  margin: 0;
  padding: 0;
  
}

.tipodecadastro {
  

}

.fisjur {
  display: inline-block;
  position: relative;
  justify-content: left;
  text-align: left;
  width: max-content;
  margin-left: 25px;
  margin-top: 25px;
  align-items: center;
  text-align: center;
  
  
  }

.fisjur-button {
  display: inline-block;
  position:;
  justify-content: left;
 text-align: left;
  align-items: center;
  margin: 2px;
  text-align: center;
  
 
 }
